

<h2>Домашняя страница</h2>
<table class="table">
    <tr>
        <th>
           @Html.ActionLink("Техническая оснащенность", "Index/1")
        </th>
        <th>
            @Html.ActionLink("Виды работ", "Index/2")
        </th>
        <th>
            @Html.ActionLink("Склад", "Index/3")
        </th>
        <th>
            @Html.ActionLink("Объекты", "Index/4")
        </th>
        <th>
            @Html.ActionLink("Работы", "")
        </th>
        <th>
        @Html.ActionLink("Материалы", "")
        </th>
    </tr>
</table>
